commands:
    01_phalcon_install:
        # run this command from /tmp directory
        cwd: /tmp
        # don't run the command if phalcon is already installed (file /etc/php.d/phalcon.ini exists)
        test: '[ ! -f /etc/php.d/phalcon.ini ] && echo "phalcon not installed"'
        # executed only if test command succeeds
        command: |
            rm -rf ./cphalcon \
            && git clone --depth=1 git://github.com/phalcon/cphalcon.git \
            && cd cphalcon/ext \
            && ./install \
            && echo extension=phalcon.so > /etc/php.d/phalcon.ini \
            && rm -rf ./cphalcon
    02_phalcon_devtools_install:
        # run this command from /home directory
        cwd: /home
        # don't run the command if phalcon dev tools is already installed (file /home/phalcon-devtools/phalcon.php exists)
        test: '[ ! -f /home/phalcon-devtools/phalcon.php ] && echo "phalcon dev tools not installed"'
        # executed only if test command succeeds
        command: |
            git clone git://github.com/phalcon/phalcon-devtools.git \
            && cd phalcon-devtools \
            && . ./phalcon.sh \
            && ln -s /home/phalcon-devtools/phalcon.php /usr/bin/phalcon \
            && chmod ugo+x /usr/bin/phalcon
    03_php_pdo_pgsql_activate:
        # run this command from /etc/php.d directory
        cwd: /etc/php.d
        # don't run the command if pgsql pdo was already activated (file /etc/php.d/pdo_pgsql.ini exists)
        test: '[ ! -f /etc/php.d/pdo_pgsql.ini ] && echo "php pdo pgsql not enabled"'
        # executed only if test command succeeds
        command: |
            echo extension=pdo_pgsql.so > /etc/php.d/pdo_pgsql.ini
    04_phalcon_migrations_run:
        # run this command from /places/src/ directory
        cwd: /var/app/current/places/src
        command: |
            /usr/bin/phalcon migration run